
a.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--grey-dark);
    border-radius: 12px;
    transition: background-color 0.25s ease;
    outline: none;

}

.button ~ .button {
    margin-top: 24px;
}

.button:hover {
    background-color: var(--pink-light);
    
}

.button svg:nth-child(1), .button svg:nth-child(3) {
    height: 38px;
}

.button svg {
    width: 42px;
    height: auto;
    fill: var(--grey-dark)
}

.button h6 {
    font-size: 16px;
    margin: 0;
}

.button.selected {
    color: var(--white);
    background-color: var(--grey-dark);
    box-shadow: -1px 1px 5px var(--grey-dark);
}

.button.selected h6 {
    font-weight: 600;
    color: var(--white);
}

.button.selected svg {
    fill: var(--white);
    filter: drop-shadow(-2px 2px 2px var(--grey-dark));
}