
.delite{
    color:red;
}
.view{
    color:blue;
}
.action{
    display: flex;
    justify-content: space-between;
    margin-right: 40%;
}
.line{
    width: 97%;
    margin: auto;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
h5{
    font-weight: bolder;
}